main {
    display: flex;
}

.bai1 {
    margin-right: 40px;
}

.bai1 {
    height: 320px;
}

.bai2 {
    margin-right: 40px;
}

.bai3 {
    height: 300px;
}

.bai3 {
    margin-right: 40px;
}

.bai4 {
    height: 390px;
}

.bai4 {
    margin-right: 40px;
}

.bai5 {
    height: 300px;
}